<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Gambling is fun but dangerous</h1>
 
  <% 
  die1 = rand(1..6) 
  die2 = rand(1..6) 
  die3 = rand(1..6) 
  die4 = rand(1..6) 
  die5 = rand(1..6)
  die6 = rand(1..6)  
  
  %>
  <p>
  Roll the dice!
  <% die1 %>
  <% die2 %>
  </P>
  <p>
    <img src="/images/dice/<%= die1 %>.svg">
    <img src="/images/dice/<%= die2 %>.svg">
  </p>
  <p>
  <a href="/dice"> Roll Again!</a>
  </p>
  
</body>
</html>