<% fillings = ["Carnitas", "Al Pastor", "Steak"] %>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<h1>I love tacos!</h1>
<p>There are so many kinds of tacos</p>
<ul>
<% for filling in fillings %>
<li><%= filling %></li>
<%end%>
</ul>
</body>
</html>